<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/stable</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>
        <mapping class="pl.edu.pja.stable.entity.Employee"/>
        <mapping class="pl.edu.pja.stable.entity.Owner"/>
        <mapping class="pl.edu.pja.stable.entity.Client"/>
        <mapping class="pl.edu.pja.stable.entity.Stall"/>
        <mapping class="pl.edu.pja.stable.entity.Stable"/>
        <mapping class="pl.edu.pja.stable.entity.Horse"/>
        <mapping class="pl.edu.pja.stable.entity.Instructor"/>
        <mapping class="pl.edu.pja.stable.entity.Contestant"/>
        <mapping class="pl.edu.pja.stable.entity.Competition"/>
        <mapping class="pl.edu.pja.stable.entity.RidingSchool"/>
    </session-factory>
</hibernate-configuration>